/.DS_Store
ims-cpp-code-challenge/.vs/ims-cpp-code-challenge/v17/Browse.VC.opendb
ims-cpp-code-challenge/.vs/ims-cpp-code-challenge/v17/Browse.VC.db-wal
ims-cpp-code-challenge/.vs/ims-cpp-code-challenge/v17/Browse.VC.db-shm
ims-cpp-code-challenge/.vs/ims-cpp-code-challenge/v17/Browse.VC.db
ims-cpp-code-challenge/.vs/ims-cpp-code-challenge/v17/.suo
ims-cpp-code-challenge/.vs/ims-cpp-code-challenge/v17/.suo
